<form (ngSubmit)="submit(form)" #form="ngForm">
    <div class="grid">

        <input type="hidden" name="id" [(ngModel)]="registro.id">

        <label for="profissional">Profissional</label>
        <select [(ngModel)]="registro.profissional" name="profissional" (change)="edicaoHorario(registro.profissional.id)" [compareWith]="compareById" required>
            <!-- Se na edição de atendimento, for mudado o profissional, mas não a data, essa função manda para a função carregar horas o id do novo profissional e a hora já salva no atendimento -->
            <option *ngFor="let item of profissionais" [ngValue]="item">{{item.nome}}</option>
        </select>

        <label for="data">Data</label>
        <input [(ngModel)]="registro.data" type="date" name="data" (change)="carregarHoras(registro.profissional.id, registro.data)" required>

        <label for="hora">Hora</label>
        <select [(ngModel)]="registro.hora" name="hora" [compareWith]="compareHorario" required>
            <option *ngFor="let item of horariosDisponiveis" name="hora" [ngValue]="item">{{item.slice(0,5)}}</option>
        </select>

        <label for="convenio">Convênio</label>
        <select [(ngModel)]="registro.convenio" name="convenio" [compareWith]="compareById" required>
            <option *ngFor="let item of convenios" [ngValue]="item">{{item.nome}}</option>
        </select>

        <label for="paciente">Paciente</label>
        <select [(ngModel)]="registro.paciente" name="paciente" [compareWith]="compareById" required>
            <option *ngFor="let item of pacientes" [ngValue]="item">{{item.nome}}</option>
        </select>

    </div>

    <input type="button" value="Cancelar" routerLink="../">
    <input type="submit" value="Salvar" [disabled]="form.invalid">

</form>