<div class="selectProf">
    <label for="profissional">Selecione o profissional</label>
    <select [(ngModel)]="profissional" name="profissional" (change)="setFiltro(profissional)" [compareWith]="compareById">
        <option [selected]="[id == -1]">Selecione</option>
        <option *ngFor="let item of profissionais" [ngValue]="item" [selected]="item.id == id">{{item.nome}}</option>
    </select>
    <input type="submit" (click)="filtrar(profissional.id)" value="Filtrar">
    <input type="submit" class="cancelar" (click)="filtrar(-1)" value="Cancelar">
</div>